#!/usr/bin/env bash
# Used by https://direnv.net

# Automatically reload when this file changes
watch_file devshell.nix

# Load `nix develop`
use flake

# Extend the environment with per-user overrides
source_env_if_exists .envrc.local
